.git*            export-ignore

*.sh             crlf=input

# Attributes used for formatting.
[attr]our-c-style   whitespace=tab-in-indent  format.clang-format
[attr]our-py-style  whitespace=tab-in-indent  format.autopep8

*.cxx   our-c-style
*.h     our-c-style
*.hxx   our-c-style
*.txx   our-c-style

*.py    our-py-style

*.txt            whitespace=tab-in-indent
*.cmake          whitespace=tab-in-indent

[attr]lfs       filter=lfs diff=lfs merge=lfs -text

data/**         lfs
